.directory

player1/.directory
player2/.directory

player1/player1
player2/player2

player1/*.o
player2/*.o

player1/*~
player2/*~


player1/rpc/*.c
player1/rpc/*.h

player2/rpc/*.c
player2/rpc/*.h

player1/rpc/Makefile.player1_rpc
player2/rpc/Makefile.player2_rpc

